<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.navMenu{
  font-family: 'Raleway', sans-serif;
  background-color: fbfbfb;
  padding: 25px;
}

.navLinks {
  text-align: right;
}

.logo-container {
  display: block;
  padding-top:3%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 3%;
  
}



.portfolio-heading {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 30px;
  border-bottom: 1px solid white;
  font-size: 25px;
  color: white;
  font-family: 'Raleway', sans-serif;
  
}

.rightside {
  background-color: #fbfbfb;
  font-family: 'Raleway', sans-serif;
}

.leftside {
  background-color: #333333;
  border-right-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: 'Raleway', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px;
}


.description {
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 16px;
  padding: 30px;
  background-color: #333333;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px;
}


.social-button {
  transition-duration: 0.7s;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px; 
}


.social-button:hover {
  opacity: 0.4;
}


.basic-button {
  background-color: #333333;
  color: white;
  padding: 12px 40px;
  border-radius:2px;
  transition-duration: 0.7s;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px;
}

.basic-button:hover {
  background-color: #fbfbfb;
  color: #333333;
  padding: 12px 40px;
  border: 1px solid #333333;
}

.portfolio-button {
  color: white;
  width: 180px;
  height: 40px;
  border: 0.2px solid #ffffff;
  font-size: 15px;
  transition-duration: 0.7s;

}

.portfolio-button:hover {
  background-color: white;
  color: #333333;
}

.webdev-container {
  padding-top:50px;
}

.webdev-button:hover ~ img.static  {
opacity: 0;
}

.moving-gif {
  position: relative;
  padding: 20px;
}


.dynamic {
  opacity:100;
  top: 0;
  right: 0;
}

.static.hidden {
  opacity:0;
}

.dynamic.hidden {
  opacity:0;
}

.footer {
  padding: 40px;
  text-align: center;
  font-size: 12px;
  color: #b7b3b2;
}

.packaging-container {
  display: flex;
  justify-content: center;
}
.portfolio-description {
  background-color: #333333;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px;
}

.web-portfolio-description {
  background-color: #333333;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 12px;
}

.portfolio-body {
  border-top: 1px solid white;
  padding-top: 12px;
}

.web-portfolio-body {
  border-top: 1px solid white;
  margin-top: 5%;
  padding-top: 5%
}

.text-indented {
  padding-left: 12%;
}



.youtube-link {
height: 45px;
float: right;
transition-duration: 0.4s;
}

.web-link {
  transition-duration: 0.4s;
  width: 100px;
}

.web-link:hover {
  opacity: 0.2;
}


.youtube-link:hover {
  opacity: 0.2;
}

.portfolio-card-title {
  font-size: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 11px;
  text-align: left;
}

.web-portfolio-card-title {
  font-size: 20px;
  padding-top:5%;
  text-align: center;
}

.player-wrapper {
  position: relative;
  height:600px;
  padding: 50px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.motion-container {
  margin: 100px;
}

.navigation-portfolios {
  
  text-align: center;
}

.pnav-button {
  font-size: 12px;
  color: #969292;
  transition-duration: 0.5s;
}

.pnav-button:hover {
  font-size: 12px;
  color: #f9c5a6;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
